.DS_Store
__pycache__/
*.py[codz]
*$py.class

# pytest
.benchmarks
.pytest_cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.ruff_cache/

.venv
.env
.coverage

**/__pycache__/
**/.ruff_cache/
**/.pytest_cache/
**/.benchmarks/

**/.env
