host=your_host # 0.0.0.0
port=your_port # 8001
access_type=your_access_type # orm, raw
GITHUB_TOKEN=your_token
BOT_URL=your_bot_url # http://localhost:8000

POSTGRES_DB=your_db # postgres
POSTGRES_HOST=your_host # localhosts
POSTGRES_PORT=your_port # 5432
POSTGRES_PASSWORD=your_postgres_password # admin
POSTGRES_USER=your_user # postgres
