host=your_host # 0.0.0.0
port=your_port # 8001
access_type=your_access_type # orm, raw
GITHUB_TOKEN=your_token
BOT_URL=your_bot_url # http://localhost:8000

POSTGRES_DB=your_db # postgres
POSTGRES_HOST=your_host # localhosts
POSTGRES_PORT=your_port # 5432
POSTGRES_PASSWORD=your_postgres_password # admin
POSTGRES_USER=your_user # postgres

KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_TOPIC=link-updates

LOGGER_LEVEL=INFO
LOGGER_OUTPUT=stdout # stdout=console or filename

BATCH_SIZE=100 # links will be checked in one scheduler tick
UPDATE_TIME=100 # scheduler tick freeze in second
CONCURRENCY_LINKS=10 # count of links checked concurrency

SCHEMA_REGISTRY_URL="http://localhost:8081"

VALKEY_HOST="localhost"
VALKEY_PORT=6379
VALKEY_TTL=300

TIMEOUT_CONNECT=5
TIMEOUT_READ=5
TIMEOUT_WRITE=5
TIMEOUT_POOL=5

RETRY_MAX_ATTEMPTS=5
RETRY_EXPONENTIAL_MULTIPLIER=1.0
RETRY_EXPONENTIAL_MIN_SECONDS=1.0
RETRY_EXPONENTIAL_MAX_SECONDS=30.0
RETRYABLE_STATUS_CODES=[429,500,502,503,504]

FAILURE_THRESHOLD=2
RECOVERY_TIMEOUT=5

RATE_LIMIT_LINKS_GET=30/minute
RATE_LIMIT_LINKS_POST=10/minute
RATE_LIMIT_LINKS_DELETE=10/minute
RATE_LIMIT_CHATS_POST=5/minute
RATE_LIMIT_CHATS_DELETE=5/minute
