BOT_TOKEN=

SCRAPPER_URL=http://scrapper:8001

KAFKA_BOOTSTRAP_SERVERS=kafka-1:29092,kafka-2:29093,kafka-3:29094
KAFKA_TOPIC=link.processed-updates
KAFKA_CONSUMER_GROUP=bot-consumer-group
KAFKA_SCHEMA_REGISTRY_URL=http://schema-registry:8081
